header{
color: burlywood;
background-color: rgb(92, 86, 86);
border: 5px solid;
border-radius: 5px;
flex-wrap: wrap;
text-align: center;

}

body{
    color: rgb(4, 26, 3);
    background-color: rgb(223, 220, 203);
}
#searchButton:hover{
    transform: scale(1.4);
}
#search:hover{
    transform: scale(1.02);

}
#playButton:hover{
    transform: scale(1.3);
}